doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Memory Game
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Memory Game


    .pure-g#head
      .pure-u-1
        button.pure-button#start START
        #timeDisplay 60


    button.pure-button#shuffle SHUFFLE


    .pure-g
      .pure-u-1
        table.pure-table.pure-table-bordered#game
          tbody
            tr
              td
                img(src='../media/cat1.png')
              td
                img(src='../media/cat2.png')
              td
                img(src='../media/cat3.png')
              td
                img(src='../media/cat4.png')
              td
                img(src='../media/cat5.png')
            tr
              td
                img(src='../media/cat6.png')
              td
                img(src='../media/cat7.png')
              td
                img(src='../media/cat8.png')
              td
                img(src='../media/cat9.png')
              td
                img(src='../media/cat10.png')
            tr
              td
                img(src='../media/cat11.png')
              td
                img(src='../media/cat12.png')
              td
                img(src='../media/cat13.png')
              td
                img(src='../media/cat14.png')
              td
                img(src='../media/cat15.png')
            tr
              td
                img(src='../media/cat16.png')
              td
                img(src='../media/cat17.png')
              td
                img(src='../media/cat18.png')
              td
                img(src='../media/cat19.png')
              td
                img(src='../media/cat20.png')

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
