doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Memory Game
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Memory Game


    .pure-g#head
      .pure-u-1
        button.pure-button#start START
        #timeDisplay 60





    .pure-g
      .pure-u-1
        table.pure-table.pure-table-bordered#game
          tbody
            tr
              td
              td
              td
              td
              td
            tr
              td
              td
              td
              td
              td
            tr
              td
              td
              td
              td
              td
            tr
              td
              td
              td
              td
              td


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
